.idHeroe{
    font-weight: bold;
}

.nombreHeroe{
    font-style: italic;
}

.boton{
    margin-right: 20px;
    margin-bottom: 10px;
}
  
  .heroes button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  
  .heroes button:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .heroes button.selected {
    background-color: black;
    color: white;
  }
  
  .heroes button.selected:hover {
    background-color: #505050;
    color: white;
  }
  
  .heroes button.selected:active {
    background-color: black;
    color: white;
  }