<body>
  <div class="container mb-5">
    <h1 class="col-12 text-center mt-5">Usuarios</h1>
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <a routerLink="/usuarios/add-usuario" class="btn btn-outline-primary mt-5 mb-3 col-4">Nuevo usuario</a>
        </div>
        <div class="col-3"></div>
        <div class="col-3 mt-5 mb-3">
          <div class="input-group">
            <div class="form-outline">
              <input type="search" id="form1" class="form-control" placeholder="Buscar" />
            </div>
            <button type="button" class="btn btn-primary">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive mt-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col">Código postal</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios | async">
            <td scope="row">{{usuario.idUsuario}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellidos}}</td>
            <td>{{usuario.telefono}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.cp}}</td>
            <td>{{usuario.fechaNac.split('-')[2]}}/{{usuario.fechaNac.split('-')[1]}}/{{usuario.fechaNac.split('-')[0]}}</td>
            <td>
              <button type="button" routerLink="/usuarios/actualizar-usuario/{{usuario.idUsuario}}"
                class="btn btn-outline-success btn-sm">Editar</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-outline-danger btn-sm"
                (click)="abrirModal(contenido, usuario)">Eliminar</button>
            </td>
          </tr>
        </tbody>
        <ng-template #contenido let-modal let-usuario="usuarioSeleccionado">
          <div class="modal-header">
            <h4 class="modal-title text-center">Eliminar usuario</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-center mb-4">¿Estás seguro que deseas eliminar el siguiente usuario?</p>
            <div class="card mb-3 card-margen">
              <div class="row g-0">
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{usuarioSeleccionado.nombre}} {{usuarioSeleccionado.apellidos}}</h5>
                    <p class="card-text">Teléfono: {{usuarioSeleccionado.telefono}}</p>
                    <p class="card-text">Fecha de nacimiento: {{usuarioSeleccionado.fechaNac.split('-')[2]}}/{{usuarioSeleccionado.fechaNac.split('-')[1]}}/{{usuarioSeleccionado.fechaNac.split('-')[0]}}</p>
                    <p class="card-text"><small class="text-muted">Correo: {{usuarioSeleccionado.email}}</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
            <button type="button" class="btn btn-danger"
              (click)="eliminarUsuario(usuarioSeleccionado); modal.close()">Eliminar</button>
          </div>
        </ng-template>
      </table>
    </div>
  </div>
</body>