<div class="container mb-5">
    <h1 class="col-12 text-center mt-5">Usuarios</h1>
    <div class="col-4">
        <a routerLink="/usuarios/add-usuario" class="btn btn-outline-primary mt-5 mb-3 col-4">Nuevo usuario</a>
    </div>
    <div class="table-responsive mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Código postal</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios | async">
                    <td scope="row">{{usuario.idUsuario}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellidos}}</td>
                    <td>{{usuario.telefono}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.cp}}</td>
                    <td>{{usuario.fechaNac}}</td>
                    <td><a routerLink="/usuarios/actualizar-usuario/{{usuario.idUsuario}}" class="btn btn-outline-success btn-sm">Editar</a>&nbsp;&nbsp;<a class="btn btn-outline-danger btn-sm" (click)="eliminarUsuario(usuario)">Borrar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>