<div class="container col-5 mt-5">
    <h1 class="text-center">Mis Citas</h1>
    <div class="card text-center">
        <div class="card-header">
            <h2 class="mb-0">Cita Reservada</h2>
            <p class="mb-0">28 de mayo, 10:00 AM</p>
        </div>
        <div class="card-body">
            <h3 class="card-title">Belleza Total</h3>
            <p class="card-text">Servicio: Corte de pelo</p>
            <p class="card-text">Peluquera: Maria Costin</p>
            <p class="card-text">Dirección: Calle Barcelona, 53</p>
            <button class="btn btn-primary mt-3" onclick="mostrarDetalles()">Ver detalles</button>
            <button class="btn btn-success mt-3" routerLink="new" style="margin-left: 1rem;">Nueva cita</button>
        </div>
        <div class="card-footer bg-light" style="display: none;">
            <p class="mb-0">Monto: $25.00</p>
            <p class="mb-0">Pago pendiente</p>
        </div>
    </div>
</div>
