<div class="container mb-5">
    <h1 class="col-12 text-center mt-5">Servicios</h1>
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <a routerLink="/servicios/add-servicios" class="btn btn-outline-primary mt-5 mb-3 col-4">Nuevo servicio</a>
            </div>
            <div class="col-3"></div>
            <div class="col-3 mt-5 mb-3">
                <div class="input-group">
                    <div class="form-outline">
                    <input type="search" id="form1" class="form-control" placeholder="Buscar"/>
                    </div>
                    <button type="button" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let servicio of servicios | async">
                    <td scope="row">{{servicio.idServicio}}</td>
                    <td>{{servicio.nombre}}</td>
                    <td>{{servicio.descripcion}}</td>
                    <td class="text-center">{{servicio.precio}} €</td>
                    <td>{{servicio.duracion}}</td>
                    <td><button type="button" routerLink="/servicios/actualizar-servicios/{{servicio.idServicio}}" class="btn btn-outline-success btn-sm">Editar</button>&nbsp;<button type="button" class="btn btn-outline-warning btn-sm">Poner a la venta</button>&nbsp;<button type="button" class="btn btn-outline-danger btn-sm" (click)="eliminarServicio(servicio)">Eliminar</button></td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>