.table {
    background-color: beige;
  }

.card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,3);
}

.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  height: 160px;
}

.card-margen {
  margin: 30px;
}

.card-text {
    margin-bottom: 0rem;
}