body {
  margin: 0;
  overflow-x: hidden;
  background-image: linear-gradient(beige, rgb(255, 255, 174));
}

.table {
  background-color: beige;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}

.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  height: 280px;
}

.card-margen {
  margin: 30px;
}

.card-img-top {
  max-height: 100px;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.logueado {
  height: auto;
}

.img-fluid {
  margin-left: 20px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  max-height: 230px;
}

.disponible {
  margin: 30px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #fff3cd;
  border: 2px solid #ffc107;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.disponible:hover {
  background-color: #ffe8b2;
}