<div class="container">
    <div class="card mt-5 col-6">
        <div class="card-header">
            Actualice un producto
        </div>
        <div class="card-body">
            <div class="mb-3">
                <form>
                    <div class="col-12">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" name="nombre" id="" class="form-control col-6" aria-describedby="helpId">
                    </div>

                    <div class="col-12 mt-3">
                        <label for="descripcion" class="form-label">Descripción:</label>
                        <input type="text" name="descripcion" id="" class="form-control col-3" aria-describedby="helpId">
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 mt-3">
                                <label for="precio" class="form-label">Precio:</label>
                                <input type="text" name="precio" id="" class="form-control" aria-describedby="helpId">
                            </div>
                            
                            <div class="col mt-3">
                                <label for="imagen" class="form-label">Imagen:</label>
                                <input type="text" name="imagen" id="" class="form-control" aria-describedby="helpId">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-success mt-3">Editar</button>&nbsp;
                    <button type="button" routerLink="/lista-productos" class="btn btn-outline-primary mt-3">Atrás</button>
                </form>
            </div>
        </div>
    </div>
</div>