<div class="container col-6">
  <div class="card mt-5">
    <div class="card-header">
      Añade una cita
    </div>
    <div class="card-body">
      <div class="mb-3">
        <form (ngSubmit)="actualizar()">
          <div class="col-12">
            <div class="row">
              <div class="col-4 mt-3">
                <label for="cita" class="form-label">Fecha cita:</label>
                <input type="date" [min]="getCurrentDate()" name="fechaCita" id="cita" class="form-control"
                  [(ngModel)]="cita.fechaCita" aria-describedby="helpId">
              </div>

              <div class="col-3 mt-3">
                <label for="hora" class="form-label">Hora cita:</label>
                <input type="time" name="horaCita" id="hora" class="form-control" [(ngModel)]="cita.horaCita"
                  aria-describedby="helpId">
              </div>

              <div class="col mt-3">
                <label for="password" class="form-label">Usuario:</label>
                <select class="form-select" aria-label="Default select example" name="selectUsuario"
                  [(ngModel)]="cita.idUsuario">
                  <!-- <option value="">-- Seleccione un usuario --</option> -->
                  <option *ngFor="let usuario of usuarios" value="{{usuario.idUsuario}}">{{usuario.nombre}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-8 mt-3">
                <label for="comentarios" class="form-label">Otros datos:</label>
                <textarea type="text" name="comentarios" id="comentarios" class="form-control" [(ngModel)]="cita.comentarios"
                  aria-describedby="helpId"></textarea>
              </div>
              <div class="col-4 mt-3">
                <label for="select" class="form-label">Tipo servicio:</label>
                <select class="form-select" aria-label="Default select example" name="selectServicio"
                  [(ngModel)]="cita.idServicio">
                  <option *ngFor="let servicio of servicios" value="{{servicio.idServicio}}">{{servicio.nombre}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <button type="button" routerLink="/citas" class="btn btn-outline-primary mt-4 col-3">Atrás</button>
              <div class="col-6"></div>
              <button type="submit" class="btn btn-outline-success mt-4 col-3">Editar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>