<div class="container">
    <h1 class="col-12 text-center mt-5">Lista Productos</h1>
    <div class="col-4">
        <a routerLink="/add-productos" class="btn btn-outline-primary mt-5 col-4">Nuevo producto</a>
    </div>
    <div class="table-responsive mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td scope="row">1</td>
                    <td>Shampoo Old Spice</td>
                    <td>Huele como un tío, tío</td>
                    <td>7,99€</td>
                    <td>[ruta Imagen]</td>
                    <td><a routerLink="/actualizar-productos/1" class="btn btn-outline-success btn-sm">Editar</a>&nbsp;<button type="submit" class="btn btn-outline-warning btn-sm">Poner a la venta</button>&nbsp;<a class="btn btn-outline-danger btn-sm">Borrar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>