body {
  margin: 0;
  overflow-x: hidden;
  background-image: linear-gradient(beige, rgb(255, 255, 174));
}

header {
  padding: 20px;
}

h1 {
  margin: 0;
  color: #000000;
}

.section {
  padding: 100px 0;
}

.custom-card {
  position: relative;
  overflow: hidden;
}

.custom-card .card-img-top {
  width: 100%;
  height: auto;
  transition: transform 2s ease;
}

.custom-card .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-card:hover .card-img-top {
  transform: scale(1.1);
}

.custom-card:hover .card-overlay {
  opacity: 1;
}

.custom-card:hover .card-content {
  opacity: 1;
}

.custom-card .card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-card .card-text {
  margin-bottom: 20px;
}

.custom-card .btn-primary {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.section-usuarios {
  background-image: url('../../assets/img/clientes.jpeg');
  background-size: cover;
  background-position: center;
  text-align: right;
  color: #ffffff;
}

.section-servicios {
  background-image: linear-gradient(#ffffff);
  background-size: cover;
  background-position: center;
  text-align: left;
  color: #ffffff;
}

.section-servicios .custom-card {
  text-align: left;
  margin-left: 2%;
}

.section-servicios .custom-card .card-content {
  text-align: left;
}

.section-servicios .custom-card .btn-primary {
  float: right;
}

.section-productos {
  background-color: linear-gradient(beige);
  background-size: cover;
  background-position: center;
  text-align: left;
  color: #ffffff;
}

.section-servicios .custom-text {
  background-color: linear-gradient(beige);
  padding: 0px;
  color: #000000;
  margin-left: 10%;
}

.section-productos .custom-text {
  background-image: linear-gradient(beige);
  padding: 20px;
  color: #000000;
  margin-right: 10%;
}

.custom-text h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-text p {
  font-size: 16px;
}

.align-items-start {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}