<body>
  <header>
    <h1 class="text-center mt-5">A&A Beauty Salon</h1>
  </header>

  <section class="section section-usuarios" *ngIf="logueado">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="custom-card custom-card-usuarios">
            <a routerLink="/usuarios"><img class="card-img-top" src="../../assets/img/clientes.jpeg" alt="Clientes"></a>
            <div class="card-overlay">
              <div class="card-content">
                <h2 class="card-title">Usuarios</h2>
                <p class="card-text">Explora nuestros servicios de peluquería y descubre nuestras promociones
                  exclusivas.</p>
                <a routerLink="/usuarios" class="btn btn-primary">Ver usuarios</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-servicios">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="custom-card custom-card-servicios">
            <a routerLink="/servicios"><img class="card-img-top" src="../../assets/img/servicios.jpg"
                alt="Servicios"></a>
            <div class="card-overlay">
              <div class="card-content">
                <h2 class="card-title">Servicios</h2>
                <p class="card-text">Descubre nuestros servicios de peluquería y déjate consentir por nuestros
                  profesionales.</p>
                <a routerLink="/servicios" class="btn btn-primary">Ver servicios</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="custom-text custom-text-right">
            <h2>Descubre nuestros servicios</h2>
            <p class="card-text">
              En nuestro salón de belleza, ofrecemos una amplia gama de servicios para realzar tu belleza y cuidar de tu
              cabello. Nuestro talentoso equipo de estilistas está listo para brindarte una experiencia única y
              transformar tu apariencia.
            </p>
            <p>
              Permítenos consentirte con cortes de pelo modernos y a la moda que reflejen tu estilo único. Además, te
              ofrecemos tratamientos capilares de calidad que nutrirán y revitalizarán tu cabello, dejándolo suave,
              brillante y saludable.
            </p>
            <p>
              Nuestros expertos en coloración te ayudarán a encontrar el tono perfecto para resaltar tus rasgos y
              realzar tu belleza natural. Ya sea que busques un cambio sutil o un look audaz, estamos aquí para hacer
              realidad tus deseos.
            </p>
            <p>
              También ofrecemos servicios de peinado y styling para ocasiones especiales, como bodas o eventos
              importantes, para que luzcas radiante en cada momento memorable de tu vida.
            </p>
            <p>
              En nuestro salón, nos comprometemos a brindarte una experiencia de lujo, un ambiente relajante y
              resultados que superen tus expectativas. ¡Visítanos y déjanos cuidar de ti!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-productos">
    <div class="container">
      <div class="row align-items-start flex-row-reverse">
        <div class="col-md-6">
          <div class="custom-card custom-card-productos">
            <a routerLink="/productos"><img class="card-img-top" src="../../assets/img/productos.jpg"
                alt="Productos"></a>
            <div class="card-overlay">
              <div class="card-content">
                <h2 class="card-title">Productos</h2>
                <p class="card-text">Descubre nuestra selección de productos de calidad y encuentra los ideales para tu
                  estilo.</p>
                <a routerLink="/productos" class="btn btn-primary">Ver productos</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="custom-text custom-text-left">
            <h2>Descubre nuestra selección de productos</h2>
            <p class="card-text">
              En nuestro salón de belleza, no solo nos preocupamos por brindarte servicios de calidad, sino también por
              ofrecerte los mejores productos para el cuidado de tu cabello.
            </p>
            <p>
              Nuestra selección de productos incluye champús, acondicionadores y tratamientos capilares de marcas
              reconocidas en la industria de la belleza. Estos productos han sido cuidadosamente seleccionados por
              nuestros expertos para satisfacer las necesidades de todo tipo de cabello.
            </p>
            <p>
              Descubre productos diseñados para hidratar y nutrir tu cabello, dejándolo suave, sedoso y lleno de vida.
              Además, contamos con productos especializados para el cuidado del cabello teñido, prolongando la duración
              y el brillo de tu coloración.
            </p>
            <p>
              Nuestros productos para peinado te ayudarán a lograr looks increíbles en casa. Desde geles y ceras
              moldeadoras hasta sprays de fijación, encontrarás todo lo que necesitas para crear peinados versátiles y
              duraderos.
            </p>
            <p>
              En nuestro salón, nos enorgullece ofrecerte productos de alta calidad que te permitan mantener tu cabello
              hermoso y saludable entre visitas. Nuestro equipo estará encantado de asesorarte y recomendarte los
              productos más adecuados para ti.
            </p>
            <p>
              Ven y explora nuestra selección de productos, y lleva contigo los secretos de una cabellera radiante. ¡Te
              esperamos en nuestro salón de belleza!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-citas">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Reserva tu cita ahora</h2>
          <div class="custom-card custom-card-citas">
            <a routerLink="/citas"><img class="card-img-top" src="../../assets/img/citas.jpg" alt="Citas"></a>
            <div class="card-overlay">
              <div class="card-content">
                <h2 class="card-title">Citas</h2>
                <p class="card-text">Programa una cita con nuestros profesionales y disfruta de nuestros servicios de
                  calidad.</p>
                <a routerLink="/citas/new" class="btn btn-primary">Reserva ya</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h2>Dirección</h2>
          <div class="custom-card custom-card-citas">
            <a routerLink="/citas"><img class="card-img-top direccion" src="../../assets/img/direccion.JPG"
                alt="Citas"></a>
            <div class="card-overlay">
              <div class="card-content">
                <h2 class="card-title">Encuéntranos</h2>
                <p class="card-text">Estamos en Calle Barcelona, 14, 28937 Móstoles, Madrid</p>
                <a href="https://www.google.com/maps/place/Peluqueria+Y+Estetica+Mar%C3%ADa+%26+Anca/@40.3244537,-3.8607358,17z/data=!4m6!3m5!1s0xd418c29b20ecd0f:0x29be2918adac1809!8m2!3d40.3244496!4d-3.8581609!16s%2Fg%2F11h5vymy4r?entry=ttu"
                  class="btn btn-primary">Cómo llegar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <h2 class="mb-4">Reseñas</h2>
        <div class="col-md-4" *ngFor="let contacto of contactosAct | async">
          <div class="card mb-3 custom-card">
            <div class="card-body">
              <h5 class="card-title">{{contacto.nombre}}</h5>
              <div class="valoracion">
                <span class="star"
                  [ngClass]="{'bi bi-star-fill': contacto.valoracion >= 1, 'bi bi-star': contacto.valoracion < 1}"></span>
                <span class="star"
                  [ngClass]="{'bi bi-star-fill': contacto.valoracion >= 2, 'bi bi-star': contacto.valoracion < 2}"></span>
                <span class="star"
                  [ngClass]="{'bi bi-star-fill': contacto.valoracion >= 3, 'bi bi-star': contacto.valoracion < 3}"></span>
                <span class="star"
                  [ngClass]="{'bi bi-star-fill': contacto.valoracion >= 4, 'bi bi-star': contacto.valoracion < 4}"></span>
                <span class="star"
                  [ngClass]="{'bi bi-star-fill': contacto.valoracion >= 5, 'bi bi-star': contacto.valoracion < 5}"></span>
              </div>
              <p class="card-text mt-2"><i>{{contacto.resena}}</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</body>